{{ define "footer" }}
<footer class="page-footer cyan darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Code Database</h5>
          <p class="grey-text text-lighten-4">
            プログラミングに関する記事を発信中！<br>
            随時記事をアップしていきます！  
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://developer.mozilla.org/ja/docs/Web/JavaScript">JavaScript</a></li>
            <li><a class="grey-text text-lighten-3" href="https://jp.vuejs.org/index.html">Vue.js</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Code Database Team
      </div>
    </div>
  </footer>
{{ end }}