{{ define "header" }}
<header class = "header">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/admin/logout/">ログアウト</a></li>
        <li><a href="/admin/new/">新規作成</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper header cyan darken-1">
            <a class="header-anker white-text hide-on-small-only brand-logo left" href="/knowledges" style="margin-left:7rem;"> Code Database </a>
            <a class="header-anker white-text hide-on-med-and-up brand-logo left " href="/knowledges" style="margin-left:4rem;"> Code Database </a>
            <ul id="nav-mobile" class="right ">
                {{ if .IsLogin  }}
                    <li><a class="header-anker white-text hide-on-small-only" href="/admin/logout/">ログアウト</a></li>
                    <li><a class="header-anker white-text hide-on-small-only" href="/admin/new/">新規作成</a></li>
                {{else}}
               
                {{ end }}
            </ul>
        </div>
    </nav>
</header>
{{ end }}

