{{ define "header" }}
<header class = "header" >
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/admin/logout/">ログアウト</a></li>
        <li><a href="/admin/new">新規作成</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper header cyan darken-1">
            <a class="header-anker white-text hide-on-small-only brand-logo left" href="/knowledges" style="margin-left:8.3333333333%; height: 100%;"><img class="code-database-logo-img" style="height: 100%; padding: 20px 0;" src='/static/public/code-database.png'></a>
            <a class="header-anker white-text hide-on-med-and-up brand-logo center " href="/knowledges" style="height: 100%;"><img class="code-database-logo-img " style="height: 100%; padding: 15px 0;"  src='/static/public/code-database.png'></a>
         
            <ul id="nav-mobile" class="right ">
              
                {{ if .IsLogin  }}
                    <li><a class="header-anker white-text hide-on-small-only" href='/admin/knowledges/' >管理画面</a></li>
                    <li><a class="header-anker white-text hide-on-small-only" href="/admin/new/">新規作成</a></li>
                    <li><a class="header-anker white-text hide-on-small-only" href="/admin/logout/">ログアウト</a></li>
                {{else}}
                {{ end }}
            </ul>
        </div>
    </nav>
</header>
{{ end }}

