<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/node_modules/tinymce/tinymce.js" referrerpolicy="origin"></script>  
        <script type="text/javascript">
        tinymce.init({
            selector: '#edit_body',
            branding: false, // クレジットの削除
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name'
        });
        </script>
    </head>
    <body>
        <div>{{ .Title }}を編集</div>
        <form id="form">
            <div><input type='text' name="title" value="{{ .Title }}"></div>
            <div><textarea id="edit_body" rows = "20" cols = "80">{{ .Content }}</textarea><br></div>
            <div><input type='hidden' name="id" value="{{ .Id }}"></div>
            <div><input onclick="sendData()" type="button" value="Save"></div>
        </form>
    </body>  
    <script type="text/javascript">
    const form = document.getElementById('form')
    function sendData(){
        const content = document.getElementById('edit_body_ifr').contentWindow.document.getElementById('tinymce').innerHTML
        let formdata = new FormData(form)
        formdata.append('content', content)
        const XHR = new XMLHttpRequest()
        XHR.open('PUT', '/admin/save/')
        XHR.send(formdata)
        XHR.onreadystatechange = function(){
            if (XHR.readyState === 4) {
                if (XHR.status === 200) {
                    alert('データが更新されました')
                }else{
                    alert('データが正常に送れませんでした')
                }
            }
        }
    }
    </script>
</html>  