<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='icon' href='/static/favicon.ico'>
    <title>Code Database</title>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
</head>
<body>
    {{ template "header" .Header }}
    <form action='/admin/login/' method="POST">
        <input type='email' name="email">
        <input type='password' name="password">
        <input type='submit'>
    </form>
</body>
</html>