<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='icon' href='/static/public/favicon.ico'>
    <title>Code Database</title>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
    <link rel='stylesheet' href='/static/css/admin_tags.css'>
</head>
<body>
    {{ template "header" .Header}}
    <div class='container'>
        <a href='/admin/knowledges/'>ナレッジ一覧へ</a>
        <h4>新規作成</h4>
        <form action='/admin/tags/' method="POST">
            <span>タグ名</span><input class="tag-input" type='text' name="name">
            <input type='submit' value="タグを追加">
        </form>
        <h4>tags一覧</h4>
        <ul>
            {{ range .Tags }}
            <li>
                <form id="form">
                    <input type='hidden' name="id" value="{{ .ID }}">
                    <span>タグ名</span><input class="tag-input" type='text' name="name" value="{{ .Name }}">
                    <input id="update_button" type='button' value="タグを更新">
                    <input id="delete_button" type='button' value="タグを削除">
                </form>
            </li>
            {{ end }}
        </ul>
    </div>
    <script src='/static/js/admin_tags.js'></script>
</body>
</html>