<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='icon' href='/static/favicon.ico'>
    <title>Code Database</title>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
    <link rel='stylesheet' href='/static/css/admin_tags.css'>
    <script src="/node_modules/aws-sdk/dist/aws-sdk.min.js"></script>
    <script src="/static/aws_config.js"></script>
    <script>
        AWS.config.update({
                region: bucketRegion,
                credentials: new AWS.CognitoIdentityCredentials({
                    IdentityPoolId: IdentityPoolId
                })
            });
            const s3 = new AWS.S3({
                apiVersion: "2006-03-01",
                params: { Bucket: albumBucketName }
            });
    </script>
</head>

<body>
    {{ template "header" .Header}}
    <div class='container'>
        <a href='/admin/knowledges/'>ナレッジ一覧へ</a>
        <h4>新規作成</h4>
        <form id="form_post">
            <span>アイキャッチ名</span><input class="tag-input" type='text' name="name">
            <input id="file_uploader_post" type='file'>
            <input id="src_post" name="src" type='hidden'>
            <input id="submit_btn_post" type='button' value="タグを追加">
        </form>
        <h4>eyecatch一覧</h4>
        <ul>
            {{ range .EyeCatches }}
            <li>
                <form id="form">
                    <input type='hidden' name="id" value="{{ .ID }}">
                    <span>タグ名</span><input class="tag-input" type='text' name="name" value="{{ .Name }}">
                    <img id="file_preview" src='{{ .Src }}'>
                    <input id="src_put" name='src' type='hidden' value="{{ .Src }}">
                    <input id="file_uploader_put" type='file'>
                    <input id="submit_btn_put" type='button' value="タグを更新">
                    <input id="submit_btn_delete" type='button' value="タグを削除">
                </form>
            </li>
            {{ end }}
        </ul>
    </div>

</body>
<script type="text/javascript">
const submit_btn_post = document.getElementById('submit_btn_post')
const submit_btn_put = document.querySelectorAll('#submit_btn_put')
const submit_btn_delete = document.querySelectorAll('#submit_btn_delete')
const file_uploader_post = document.getElementById('file_uploader_post')
const file_uploader_put = document.querySelectorAll('#file_uploader_put')
const file_previews = document.querySelectorAll('#file_preview')
const forms = document.querySelectorAll('#form')

submit_btn_post.addEventListener('click', function(){
    const timestamp = new Date().getTime();
    const filename = "file-" + timestamp + '-' + file_uploader_post.files[0].name;
    s3.putObject({ Key: 'eyecatches/' + filename, ContentType: file_uploader_post.files[0].type, Body: file_uploader_post.files[0], ACL: "public-read" },
    function(err, data){
        if (data !== null) {
            document.getElementById('src_post').value = "https://knowledge-blog.s3-ap-northeast-1.amazonaws.com/" + 'eyecatches/' + filename
            let formdata = new FormData(document.getElementById('form_post'))
            const XHR = new XMLHttpRequest()
            XHR.open('POST', '/admin/eyecatches/')
            XHR.send(formdata)
            XHR.onreadystatechange = function () {
                if (XHR.readyState === 4) {
                    if (XHR.status === 200) {
                        alert('データが更新されました')
                        location.href = "/admin/eyecatches/";
                    } else {
                        alert('データが正常に送れませんでした')
                    }
                }
            }
        } else {
            alert("アップロード失敗.");
        }
    }
    )
})

for (let i = 0; i < file_uploader_put.length; i++){
    file_uploader_put[i].addEventListener('change', function (e) {
        const file = e.target.files[0];
        // ファイルのブラウザ上でのURLを取得する
        const blobUrl = window.URL.createObjectURL(file);
        file_previews[i].src = blobUrl
    })
}

for (let i = 0; i < forms.length; i++) {
    submit_btn_put[i].addEventListener('click', function () {
        if(file_uploader_put[i].files[0] != null){
            const timestamp = new Date().getTime();
            const filename = "file-" + timestamp + '-' + file_uploader_put[i].files[0].name;
            let key = document.querySelectorAll('#src_put')[i].value.replace(/^https:\/\/knowledge-blog\.s3-ap-northeast-1\.amazonaws\.com\//, '')
            s3.putObject({ Key: 'eyecatches/' + filename, ContentType: file_uploader_put[i].files[0].type, Body: file_uploader_put[i].files[0], ACL: "public-read" },
                function (err, data) {
                    if (data !== null) {
                        document.querySelectorAll('#src_put')[i].value = "https://knowledge-blog.s3-ap-northeast-1.amazonaws.com/" + 'eyecatches/' + filename
                        let formdata = new FormData(forms[i])
                        const XHR = new XMLHttpRequest()
                        XHR.open('PUT', '/admin/eyecatches/')
                        XHR.send(formdata)
                        XHR.onreadystatechange = function () {
                            if (XHR.readyState === 4) {
                                if (XHR.status === 200) {
                                    s3.deleteObject({ Key: key }, function (err, data) {
                                        if (err != null) {
                                            alert('データの削除に失敗しました')
                                            return
                                        }
                                        alert('データが更新されました')
                                        location.href = "/admin/eyecatches/";
                                    })
                                } else {
                                    alert('データが正常に送れませんでした')
                                    return
                                }
                            }
                        }
                    } else {
                        alert("アップロード失敗.");
                    }
                }
            )
        }else{
            const formdata = new FormData(forms[i])
            const XHR = new XMLHttpRequest()
            XHR.open('PUT', '/admin/eyecatches/')
            XHR.send(formdata)
            XHR.onreadystatechange = function () {
                if (XHR.readyState === 4) {
                    if (XHR.status === 200) {
                        alert('データが更新されました')
                        location.href = "/admin/eyecatches/";
                    } else {
                        alert('データが正常に送れませんでした')
                    }
                }
            }
        }
    })
    submit_btn_delete[i].addEventListener('click', function () {
        const formdata = new FormData(forms[i])
        const XHR = new XMLHttpRequest()
        let key = document.querySelectorAll('#src_put')[i].value.replace(/^https:\/\/knowledge-blog\.s3-ap-northeast-1\.amazonaws\.com\//, '')
        s3.deleteObject({Key: key }, function(err, data){
            XHR.open('DELETE', '/admin/eyecatches/')
            XHR.send(formdata)
            XHR.onreadystatechange = function () {
                if (XHR.readyState === 4) {
                    if (XHR.status === 200) {
                        alert('データが更新されました')
                        location.href = "/admin/eyecatches/";
                    } else {
                        alert('データが正常に送れませんでした')
                    }
                }
            }
        })
    })
}
</script>

</html>