<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='icon' href='/static/public/favicon.ico'>
        <title>Code Database</title>
        <script src="/node_modules/tinymce/tinymce.min.js" referrerpolicy="origin"></script>  
        <script src='/static/js/tinymce_init.js'></script>
        <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
        <link rel="stylesheet" type="text/css" href="/static/css/admin_new.css">
        <script src="/node_modules/aws-sdk/dist/aws-sdk.min.js"></script>
        <script src="/static/js/aws_config.js"></script>
        <script src='/static/js/aws_init.js'></script>
    </head>
    <body>
        {{ template "header" .Header }}
        <div class="container">
            <h4>"{{ .EditPage.Title }}"を編集</h4>
            <form id="form">
                <div class="row edit-block-container">
                    <h5>タイトルの編集</h5>
                    <input type="text" class="title-input" name="title" value="{{ .EditPage.Title }}"
                        id='form-title'>
                </div>
                <div class="row edit-block-container">
                    <div class='col m6'>
                        <h5>タグの編集</h5>
                        <div id="select_display">
                        </div>
                        <button type="button" id="add_tag_button"
                            value="<select class='elem_tag'>{{range .Tags}}<option value='{{.ID}}'>{{.Name}}</option>{{end}}</select><button type='button'>削除</button>">タグを追加</button>
                    </div>
                    <div class='col m6'>
                        <h5>アイキャッチの編集</h5>
                        <img id="file_preview" class="responsive-img" src="{{ .EditPage.EyeCatchSrc }}" width="100px">
                        <select id="select_eyecatch" name='eyecatch_src'>
                            {{ range .EyeCatches }}
                            <option value='{{ .Src }}'>{{ .Name }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
                <div class="row edit-block-container">
                    <h5>内容の編集</h5>
                    <textarea id="tinymce_body" rows="30">{{ .EditPage.Content }}</textarea><br>
                </div>
                <input type='hidden' name="id" value="{{ .EditPage.ID }}">
                <input type='hidden' name='selectedTagsID' value="{{range .SelectedTagsID}}{{.}},{{end}}">
                <input onclick="sendData()" type="button" value="Save">
            </form>
        </div>
        <script src='/static/js/admin_edit.js'></script>
    </body>  
</html>  