<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
</head>
<body>
    {{ template "header" .Header }}
   
    <div class="row">

        <div class="col m3">
            <h4>検索画面</h4>
        </div>
        
        <div class="col s12 m9">
             <h4>記事一覧</h4>
             <ul>
                {{ range .IndexPages }}
                <!-- <li>
                  <span>{{ .Id }}</span>
                    <a href="/knowledges/{{ .Id |html| }}">{{ .Title }}</a>
                 </li>  -->

                <div class="card col s12 m3">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://materializecss.com/images/office.jpg">
                    </div>
                    <div class="card-content">
                    <a href="/knowledges/{{ .Id |html| }}" class="card-title activator grey-text text-darken-4">{{ .Title }}</a>
                   
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    
                    </div>
                </div>
                {{ end }}
            </ul>
        </div>
  
        
  
      </div>
  

    {{ template "footer" }}
</body>
</html>