<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
    <link rel='stylesheet' href='/static/css/user_knowledges.css/'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    {{ template "header" .Header }}
    <div class="row">
        <div class="col m3">
            
            <div class="tag_container">
                <h6 class='tag_title'>タグ一覧</h6>
                <ul class="tag_list">
                    {{ range .Tags }}
                    <li><a href="/tags/{{.ID}}" class="tag">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="col s12 m9">
            <div class='content_header'>
                <h4 class="content_title">記事一覧</h4>
            </div>
            {{ range .IndexPage.IndexElems }}
            <div class='col m6 card_wrapper'>
                <div class="cp_card02">
                    <img class="photo photo1" src="{{ .EyeCatchSrc }}"></img>
                    <ul class="details">
                        <li class="date">最終更新日:<br />{{ .UpdatedAt }}</li>
                    </ul>
                    <div class="description">
                        <a href="/knowledges/{{ .ID |html| }}" class="knowledge_title">
                            <h1>{{ .Title }}</h1>
                        </a>
                        <ul class="tag_list">
                            {{ range .SelectedTags }}
                            <li><a href="/tags/{{.ID}}" class="tag ">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                        <div class="like">いいね:{{ .Likes }}</div>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ range .PageNationElems }}
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>
    {{ template "footer" }}
</body>
</html>