<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="description" content="記事一覧ページ | Code Databaseはプログラミングに関する情報を発信しているサイトです。毎週記事をアップしているので是非チェックしてみてください！">
    <meta property="og:site_name" content="Code Database" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://code-database.com/tags/{{.FilteredTag.ID}}" />
    <meta property="og:title" content="Code Database" />
    <meta property="og:description"
        content="記事一覧ページ | Code Databaseはプログラミングに関する情報を発信しているサイトです。毎週記事をアップしているので是非チェックしてみてください！" />
    <meta property="og:image"
        content="https://s3-ap-northeast-1.amazonaws.com/code-database.com/images/code-database-ogp.png" />
    <meta name="robots" content="index, follow">
    <link rel='icon' href='/static/public/favicon.ico'>
    <title>Code Database</title>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
    <link rel='stylesheet' href='/static/css/user_knowledges.css/'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164168719-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-164168719-1');
    </script>
    <script type="text/javascript">
    function DivFrameClick(id) {
        document.location.href = `${id}`;
    }
    </script>
</head>

<body>
    {{ template "header" .Header }}
    <div class="row">
        <div class="col s0 m0 l3 hide-on-med-and-down">
            <div class="tag_container">
                <table class="tag_table striped ">
                    <thead>
                        <h6 class='tag_title'>タグランキング</h6>
                    </thead>
                    <tbody>
                        {{ range .IndexPage.TagRanking }}
                        <tr onclick="DivFrameClick('/tags/{{.TagID |html|}}');">
                            <td class="center"></td>
                            <td><a href="/tags/{{.TagID}}" class="tag">{{ .TagName }}</a></td>
                            <td class="center">記事数:{{ .CountOfRefferenced }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                <h6>検索</h6>
                <input id="search_input" type='text'><input id="search_submit" type='button' value="検索">
            </div>
           
        </div>
        <div class="col s12 m12 l9">
            <div class='content_header'>
                <h4 class="content_title">"{{ .FilteredTag.Name }}"に関する記事一覧</h4>
                {{ $currentSort := .IndexPage.CurrentSort }}
                <select class="select-sort" onchange="location=this.value">
                    {{ if eq $currentSort "update" }}
                    <option value="/tags/{{.FilteredTag.ID}}?sort=create">作成日順</option>
                    <option value="/tags/{{.FilteredTag.ID}}?sort=like">いいね数順</option>
                    <option selected value="/tags/{{.FilteredTag.ID}}?sort=update">更新日順</option>
                    {{ else if eq $currentSort "like" }}
                    <option value="/tags/{{.FilteredTag.ID}}?sort=create">作成日順</option>
                    <option selected value="/tags/{{.FilteredTag.ID}}?sort=like">いいね数順</option>
                    <option value="/tags/{{.FilteredTag.ID}}?sort=update">更新日順</option>
                    {{ else }}
                    <option selected value="/tags/{{.FilteredTag.ID}}?sort=create">作成日順</option>
                    <option value="/tags/{{.FilteredTag.ID}}?sort=like">いいね数順</option>
                    <option value="/tags/{{.FilteredTag.ID}}?sort=update">更新日順</option>
                    {{ end }}
                </select>
            </div>
            {{ range .IndexPage.IndexElems }}
            <div class='col s12 m6 card_wrapper' onclick="DivFrameClick('/knowledge/{{.Knowledge.ID |html|}}');">
                <div class="cp_card02">
                   
                    <div class ="photo">
                        <img class="photo1 responsive-img" src="{{ .Knowledge.EyecatchSrc }}">
                    </div>
                    <ul class="details">
                        <li class="date">最終更新日:<br />{{ .Knowledge.UpdatedAt }}</li>
                    </ul>
                    <div class="description">
                        <div  class="knowledge_title">
                            <h1>{{ .Knowledge.Title }}</h1>
                        </div>
                        <ul class="tag_list hide-on-med-and-down">
                            {{ range .SelectedTags }}
                            <li><a href="/tags/{{.ID}}" class="tag">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                        <div class="like">いいね:{{ .Knowledge.Likes }}</div>
                    </div>
                </div>
            </div>
            {{ end }}
            <ul class="pagination col s12 center">
                {{ if ne .IndexPage.PageNation.PageNum 1 }}
                <li class="waves-effect"><a href="/tags/{{.FilteredTag.ID}}?page={{.IndexPage.PageNation.PrevPageNum}}&sort={{$currentSort}}"><i
                            class="material-icons">chevron_left</i></a>
                </li>
                {{ end }}
                {{ $filteredTagID := .FilteredTag.ID }}
                {{ range .IndexPage.PageNation.PageElems }}
                {{ if .IsSelect }}
                <li class="active cyan darken-1"><a>{{ .PageNum }}</a></li>
                {{ else }}
                <li class="waves-effect grey lighten-1"><a class="white-text" href="/tags/{{$filteredTagID}}?page={{.PageNum}}&sort={{$currentSort}}">{{ .PageNum }}</a></li>
                {{ end }}
                {{ end }}
                {{ $length := len .IndexPage.PageNation.PageElems }}
                {{ if ne .IndexPage.PageNation.PageNum $length  }}
                <li class="waves-effect"><a href="/tags/{{.FilteredTag.ID}}?page={{.IndexPage.PageNation.NextPageNum}}&sort={{$currentSort}}"><i
                            class="material-icons">chevron_right</i></a></li>
                {{ end }}
            </ul>
        </div>
        <div class="col s12 m12 l0 hide-on-large-only">
            <div class="tag_container">
                <table class="tag_table striped ">
                    <thead>
                        <h6 class='tag_title'>タグランキング</h6>
                    </thead>
                    <tbody>
                        {{ range  .IndexPage.TagRanking }}                       
                        <tr onclick="DivFrameClick('/tags/{{.TagID |html|}}');">
                            <td class="center"></td>
                            <td><a href="/tags/{{.TagID}}" class="tag">{{ .TagName }}</a></td>
                            <td class="center">記事数:{{ .CountOfRefferenced }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                  </table>
            </div>
           
        </div>
    </div>
    {{ template "footer" }}
    <script src='/static/js/user_knowledges.js'></script>
</body>
</html>