<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
</head>
<body>
    {{ template "header" .Header }}
    <h2>{{ .EditPage.Title }}</h2>
    <input id="input" type='hidden' value="{{ .EditPage.Content }}">
    <div id="content"></div>
    {{ template "footer" }}
</body>
<script type="text/javascript">
const content = document.getElementById('content')
const input = document.getElementById('input')
window.addEventListener('DOMContentLoaded', function(){
    content.innerHTML = input.value
})
</script>
</html>
