<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="robots" content="index, follow">
    <link rel='icon' href='/static/public/favicon.ico'>
    <title>Code Database</title>
    <link rel='stylesheet' href='/node_modules/tinymce/skins/ui/oxide/content.min.css'>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
    <link rel='stylesheet' href='/static/css/user_details.css/'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164168719-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-164168719-1');
    </script>
</head>

<body>
    {{ template "header" .Header }}

    <div class="p_items_wrapper row">
        <div class= "p_action_item col s0 m0 l1 hide-on-med-and-down">
            <div class='display_like'>
                <div class='balloon'><span id='likes_baloon' class='like_number'>{{ .DetailPage.Likes }}</span></div>
                <form id="like_form_baloon" class="like">
                    <input id="knowledge_id" type='hidden' name="id" value="{{ .DetailPage.ID }}">
                    <button class="like-button" id ="like_button_baloon" type='button' value="like" onclick="sendLikeFromBaloon()">LIKE</button>
                </form>
                <input id="input" type='hidden' value="{{ .DetailPage.Content }}">
            </div>
        </div>
        <div class= "p_main_item col s12 m12 l8">
            <ul class="tags">   
                {{ range .DetailPage.SelectedTags }}
                <li><a href='/tags/{{ .ID }}'>{{ .Name }}</a></li>
                {{ end }}
            </ul>
            <div class= "title">{{ .DetailPage.Title }}</div>
            <div class='like-date-wrapper'>
                <div class="update_time">最終更新日時:{{ .DetailPage.UpdatedAt }}</div>
                <div class='display_like hide-on-large-only'>
                    <div class='balloon'><span id='likes_inline' class='like_number'>{{ .DetailPage.Likes }}</span></div>
                    <form id="like_form_inline" class="like">
                        <input id="knowledge_id" type='hidden' name="id" value="{{ .DetailPage.ID }}">
                        <button class="like-button" id="like_button_inline" type='button' value="like" onclick="sendLikeFromInline()">LIKE</button>
                    </form>
                    <input id="input" type='hidden' value="{{ .DetailPage.Content }}">
                </div>
            </div>
            <br>
            <hr>
            <div id="content" class="content"></div>
            <p></p>
            
        </div>
        <div class= "p_table_items col s0 m0 l3 hide-on-med-and-down">
            <div id="p_table_items" class= "item"></div>
        </div>
    </div>
    {{ template "footer" }}
    <script src='/static/js/user_details.js'></script>
</body>
</html>