<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='icon' href='/static/public/favicon.ico'>
    <title>Code Database</title>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
    <link rel='stylesheet' href='/static/css/user_knowledges.css/'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164168719-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-164168719-1');
    </script>
    <script type="text/javascript">
    function DivFrameClick(id) {
        document.location.href = `${id}`;
    }
    </script>
</head>

<body>
    {{ template "header" .Header }}
    <div class="row">
        <div class="col s12 m3 hide-on-small-and-down">
            <div class="tag_container">
                <table class="tag_table striped ">
                    <thead>
                        <h6 class='tag_title'>タグランキング</h6>
                    </thead>
                    <tbody>
                        {{ range  .Tags }}
                        
                      <tr onclick="DivFrameClick('/tags/{{.ID |html|}}');">
                        <td></td>
                        <td><a href="/tags/{{.ID}}" class="tag">{{ .Name }}</a></td>
                        <td>記事数:{{ .CountOfUse }}</td>
                       
                      </tr>
                      {{ end }}
                     
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col s12 m9">
            <div class='content_header'>
                <h4 class="content_title">"{{ .FilteredTag.Name }}"に関する記事一覧</h4>
            </div>
            {{ range .IndexPage.IndexElems }}
            <div class='col s12 m6 card_wrapper' onclick="DivFrameClick('/knowledges/{{.ID |html|}}');">
                <div class="cp_card02">
                   
                    <img class="photo photo1" src="{{ .EyeCatchSrc }}">
                    <ul class="details">
                        <li class="date">最終更新日:<br />{{ .UpdatedAt }}</li>
                    </ul>
                    <div class="description">
                        <div  class="knowledge_title">
                            <h1>{{ .Title }}</h1>
                        </div>
                        <ul class="tag_list hide-on-med-and-down">
                            {{ range .SelectedTags }}
                            <li><a href="/tags/{{.ID}}" class="tag ">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                        <div class="like">いいね:{{ .Likes }}</div>
                    </div>
                </div>
            </div>
            {{ end }}
            <ul class="pagination col s12 center">
                {{ if ne .IndexPage.PageNation.PageNum 1 }}
                <li class="waves-effect"><a href="/tags/{{ .FilteredTag.ID }}?page={{ .IndexPage.PageNation.PrevPageNum }}"><i
                            class="material-icons">chevron_left</i></a>
                </li>
                {{ end }}
                {{ $filteredTagID := .FilteredTag.ID }}
                {{ range .IndexPage.PageNation.PageElems }}
                {{ if .IsSelect }}
                <li class="active cyan darken-1"><a href="">{{ .PageNum }}</a></li>
                {{ else }}
                <li class="waves-effect grey lighten-1"><a class="white-text" href="/tags/{{ $filteredTagID }}?page={{ .PageNum }}">{{ .PageNum }}</a></li>
                {{ end }}
                {{ end }}
                {{ $length := len .IndexPage.PageNation.PageElems }}
                {{ if ne .IndexPage.PageNation.PageNum $length  }}
                <li class="waves-effect"><a href="/tags/{{ .FilteredTag.ID }}?page={{ .IndexPage.PageNation.NextPageNum }}"><i
                            class="material-icons">chevron_right</i></a></li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ template "footer" }}
</body>

</html>