<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
    <link rel='stylesheet' href='/node_modules/tinymce/skins/content/default/content.min.css'>
    <link rel='stylesheet' href='/node_modules/tinymce/skins/ui/oxide/content.min.css'>
    <script src="/node_modules/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel='stylesheet' href='/static/css/user_details.css/'>
</head>

<body>
    {{ template "header" .Header }}

    <div class="p_items_wrapper row">
        <div class= "p_action_item col s0 m0 l1">
            <div>いいね:<span id='likes'>{{ .DetailPage.Likes }}</span></div>
            <form id="like_form">
                <input type='hidden' name="id" value="{{ .DetailPage.Id }}">
                <input type='button' value="いいね" onclick="sendLike()">
            </form>
            <input id="input" type='hidden' value="{{ .DetailPage.Content }}">
        </div>

        <div class= "p_main_item col s12 m12 l8">
            <ul class="tags">   
                {{ range .DetailPage.SelectedTagNames }}
                <li><a href='#'>{{ . }}</a></li>
                {{ end }}
            </ul>
            <div class= "title">{{ .DetailPage.Title }}</div>
            <div class= "update_time">最終更新日時:{{ .DetailPage.UpdatedAt }}</div>

            <br/>
            <div id="content" class="content"></div>
            <p></p>
        </div>
        <div id="p_table_item" class= "p_table_item col s0 m3 l3"></div>
    </div>


    {{ template "footer" }}

</body>









<script type="text/javascript">


   
const content = document.getElementById('content')
const input = document.getElementById('input')
const likes = document.getElementById('likes')
window.addEventListener('DOMContentLoaded', function(){
    content.innerHTML = input.value





        var contentsList = document.getElementById("p_table_item"); // 目次を追加する先(table of contents)
        var div = document.createElement('div'); // 作成する目次のコンテナ要素

        // .entry-content配下のh2、h3要素を全て取得する
        var matches = document.querySelectorAll('.content h2');
       
        // 取得した見出しタグ要素の数だけ以下の操作を繰り返す
        matches.forEach(function (value, i) {
            // 見出しタグ要素のidを取得し空の場合は内容をidにする
            var id = value.id;
            if(id === '') {
                id = value.textContent;
                value.id = id;
            }

            
                var ul = document.createElement('ul');
                var li = document.createElement('li');
                var a = document.createElement('a');

                // 追加する<ul><li><a>タイトル</a></li></ul>を準備する
                a.innerHTML = value.textContent;
                a.href = '#' + value.id;
                li.appendChild(a)
                ul.appendChild(li);
                div.appendChild(ul);
                // コンテナ要素である<div>の中に要素を追加する
                
        })
      
        contentsList.appendChild(div);
    });


function sendLike(){
    
    console.log(localStorage.getItem('like'))
    var like = localStorage.getItem('like');
    
    
   
    let num=0;
    if(localStorage.getItem(like) == null){
        localStorage.setItem('like', 'true');
        num= 1;
    }else{
       
        num= 0;
    }
    console.log(localStorage.getItem('like'))
    const like_form = document.getElementById('like_form')
    const XHR = new XMLHttpRequest()
    let formdata = new FormData(like_form)
    XHR.open('POST', '/knowledges/like')
    XHR.onreadystatechange = function () {
        if (XHR.readyState === 4) {
            if (XHR.status === 200) {
                likes.textContent = Number(likes.textContent) + num
            } else {
                alert('データが正常に送れませんでした')
            }
        }
    }
    XHR.send(formdata)
}
</script>
</html>
