.cp_card02 {
    font-size: 14px;
    line-height: 1.45em;
    position: relative;
    overflow: hidden;
    height: 10em;
    margin: 0 auto 1.6%;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    border-radius: 3px;
    background: #ffffff;
    -webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}
.cp_card02:hover .details {
    left: 0;
}

.cp_card02:hover.alt .details {
    right: 0;
}
.cp_card02.alt .details {
    right: -100%;
    left: inherit;
}
.cp_card02 .knowledge_link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height:100%; 
    width: 100%;
}
.cp_card02 .photo {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.cp_card02:hover .photo {
    -webkit-transform: rotate(5deg) scale(1.3);
    transform: rotate(5deg) scale(1.3);
}
.cp_card02 .photo.photo1 {
   
    background-size: cover;
}
.cp_card02 .details {
    position: absolute;
    top: 0;
    left: -100%;
    width: 40%;
    height: 10em;
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #ffffff;
    background: rgba(255,87,34, 0.4);
}
.cp_card02 .details > li {
    padding: 3px 0;
}
.cp_card02 .details li::before,
.cp_card02 .details .tags ul::before {
    font-family: FontAwesome;
    margin-right: 10px;
    vertical-align: middle;
}
/* .cp_card02 .details .author::before {
    content: '\f007';
} */
/* .cp_card02 .details .date::before {
    content: '\f133';
} */
.cp_card02 .details .tags ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cp_card02 .details .tags ul::before {
    content: '\f02b';
}
.cp_card02 .details .tags li {
    display: inline-block;
    margin-right: 3px;
}
.cp_card02 .details a {
    color: inherit;
}
.cp_card02 .details a:hover {
    color:#827b7b;
}

.cp_card02 .description a {
   
  
    margin-bottom: 10px;
    text-decoration: none;
    color:#827b7b;
}

.cp_card02 .description a::after {
    font-family: FontAwesome;
    margin-left: -10px;
    content: '\f061';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    vertical-align: middle;
    opacity: 0;
}

.cp_card02 .description {
    position: relative;
    z-index: 0;
    float: left;
    width: 60%;
    padding: 10px;
    min-height: 10em;
}
.cp_card02 .description::before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -15px;
    width: 100%;
    content: '';
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    background: #ffffff;
}

.cp_card02 .description .knowledge_title {

}

.cp_card02 .description .knowledge_title h1 {
    position: relative;
    width: auto;
    float:left;
    height: 20%;
    font-size: 1.5em;
    line-height: 1em;
    margin: 0 0 0px 0;

}
.cp_card02 .description .knowledge_title h1 {
    position: relative;
    width: auto;
    float:left;
    height: 20%;
    font-size: 1.5em;
    line-height: 1em;
    margin: 0 0 0px 0;

}


.cp_card02 .description p {
    position: absolute;
    margin: 0;
    top:20%;
}
.cp_card02 .description p::after {
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
    background: #ff5722;
}
.cp_card02 .description .tag_list {
    position: absolute;
    bottom:4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    margin: 0;
    padding-top: 20px;
}
.cp_card02 .description .like {
    position: absolute;
    right:0px;
    bottom: 3px;
    font-size: 0.9em;
    line-height: 1.45em;
    margin-bottom: 10px;
    text-decoration: none;
    color:#827b7b;
  
}

.cp_card02 .description ul li .tag   {
  
    font-size: 0.8em;
    margin-right: 4px;
    padding: 0.2em 0.6em;
    cursor: pointer;
    border-radius: 10px;
    color:white;
    background-color: #827b7b;
    line-height: 1.45em;
    position: left;
    }

@media screen and (max-width: 480px) {
    .cp_card02 .description h1 {
        font-size: 1.3em;
    }
}