body{
    background-color: #e8f5f7;
}



.p_items_wrapper .p_action_item{
    position: sticky;
    top: 30vh;
    will-change: transform;
}

.p_items_wrapper .p_main_item{
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    margin:2rem 0rem;
    background-color:white;
    border-radius: 10px;
}

.p_items_wrapper .p_main_item .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem 0rem 1rem 0rem;
}

.p_items_wrapper .p_main_item .title {
    font-size: 2.0rem;
    margin-bottom: 1vh;
    font-weight: bold;
}

.p_items_wrapper .p_main_item .update_time{
    position: absolute;
    right:3vw;
  
}

.p_items_wrapper .p_main_item #content{
    margin: 1rem;
    
}

.p_items_wrapper .p_table_item{
    position: sticky;
    top:50vh;
    max-height: 70vh;
    will-change: transform;

}

.p_items_wrapper .p_table_item ul li a{
    color: #827b7b;
    
}


.p_items_wrapper .p_main_item .tags li  a {
  
    font-size: 0.8em;
    margin-right: 4px;
    padding: 0.2em 0.6em;
    cursor: pointer;
    border-radius: 10px;
    color:white;
    background-color: #827b7b;
    line-height: 1.45em;
    position: left;
}

